<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<globalization culture="pt-BR" uiCulture="pt-BR" />
		<pages validateRequest="false" enableEventValidation="true"></pages>
		<sessionState timeout="3600" mode="InProc"></sessionState>
	</system.web>
	<connectionStrings>
		<add name="ConnectionMySqlHomologacao" providerName="MySql.Data.MySqlClient" connectionString="Data Source=localhost;Initial Catalog='sigee';Persist Security Info=yes;User Name='root';Password='wc#sh5nq';use procedure bodies='false'" />
	</connectionStrings>
	<appSettings>
		<add key="tipoBanco" value="1" />
		<add key="tipoConexao" value="2" />
		<add key="googlemaps.subgurim.net" value="AIzaSyCGHb4XssOCwW1lNSqggBRXpZ-BQ2jzCt8" />
		<add key="Anexos" value="C:\Sigee\Anexos\" />
		<add key="Logo" value="C:\Sigee\Imagens\logoSigee.png" />
		<add key="OrdemServico" value="C:\Sigee\OrdemServico\" />
	</appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>